@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-on-surface;
  }
}

/* Material Symbols config */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
